
.logo{
    width: 50px;
}
header{

  top: 0;
  left: 0;
  width: 100%;
  
  background-color:  #4CAF50;
}

.nav{
  
  margin: auto;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color:#ffffff;
}

.box{
  color:white;
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
}

.cart-count{
  position: absolute;
  background-color: #2f3542;
  top: -5px;
  right: 0;
  padding: 3px;
  height: 20px;
  width: 20px;
  line-height:20px ;
  border-radius: 50%;
  z-index: 99;
}

#cart-icon{

}

img{
  width: 100%;
}


h2.title{
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color:#ffffff;
}

.shop-content{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-top: 50px;
}

.food-box{
  margin: 10px;
  position: relative;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 10px 8px 0 rgba(0, 0.6, 0.6, 0.6);;
  border-radius: 20px;
  width: 260px;
}

.pic{
  overflow: hidden;
}

.pic:hover img{
transform: scale(1.5);
}

.food-img{
  transition: 0.4s;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.food-title{
  margin: 10px;
  font-size: 1rem;
  font-weight: 600;
  color:#ff6348;
}

.food-price{
  padding: 10px;
  font-weight:500 ;
}

.add-cart{
  width: 100%;
 height: 30px;
 border-radius: 20px;
  background-color: #4CAF50;
  color:white;
  padding: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.5s;
}

.add-cart:hover{
  background-color:rgba(255, 0, 0, 0.786);
}
  

.cart{
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;

  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  z-index: 100;
}
.cart-active{
  right:0;
  transition: 0.5s;
}
.adminPage{
  position: fixed;
  top: 0;
left: -100%;
  width: 400px;
  height: 100vh;

  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  z-index: 100;
}
.admin-active{
  left:0;
  transition: 0.5s;
}

.cart-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 5px;
  padding: 10px;
  background-color:  #4CAF50;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.cart-box{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 10px;
}

.cart-img{
  width: 75px;
  height: 75px;
  object-fit: cover;
  border:2px solid  rgba(0,0,0,0.1);
  padding: 5px;
}
.detail-box{
  display: grid;
  row-gap: 0.5rem;  
}

.price-box{
  display: flex;
    justify-content: space-between; 
}

.cart-food-title{
   font-size: 1rem;
   text-transform: uppercase;
   color:#ff6348;
   font-weight: 500;
}

.cart-price{
  font-weight: 500;
}

.cart-quantity{
  border:1px solid rgba(0,0,0,0.1);
  outline:none ;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove{
 width: 40px;
 height: 4s0px;
  cursor: pointer;
}

.total{
  float: left;
  
}

.total-title{
    float: left;
    margin-top: 10px;
  font-size: 1.8rem;
  font-weight: 600;
}

.total-price{
    float: left;
    margin-top: 13px;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

#btn-buy{
    margin-top: 8px;
  float:right;
  padding: 12px 20px;
  background-color: #4CAF50;
  color:#fff;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 20px;
  }

#cart-close{
  position: absolute;
  top: 0rem;
  right: 0rem;
  font-size: 2rem;
  cursor: pointer;
}


div.scroll-container {
    overflow: auto;
    white-space: nowrap;
  }


  div.scroll-container.list{
    padding: 50px;
  }